VITE_FIREBASE_API_KEY=your_web_api_key
VITE_FIREBASE_AUTH_DOMAIN=family-canasta-ce7d2.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://family-canasta-ce7d2-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=family-canasta-ce7d2
VITE_FIREBASE_STORAGE_BUCKET=family-canasta-ce7d2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=743658138755
VITE_FIREBASE_APP_ID=your_web_app_id
VITE_FIREBASE_MEASUREMENT_ID=G-6EFGXHM63R
